header{
    height: 100px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 19px 0px rgba(0, 98, 140, 0.29);
    position: sticky;
}
.header-container{
    flex: 0 1 1200px;
    display: flex;
    justify-content: space-between;
}
header nav{
    display: flex;
}
header nav a{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    color: rgb(55, 84, 209);
}
header a:hover{
    color: rgb(94, 179, 91);
}
header a:active{
    color: rgb(149, 198, 74);
}
header .logo{
    width: 190px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 35px;
    color: rgb(55, 84, 209);
}
header .logo img{
    height: 70%;
}